{% include 'header.html' %}

<div class="container" role="home">
    <div class="page-header">
        <h1>Hassans Yahtzee Game</h1>
        <h3>Welcome to the Dice Game! Roll the dice and test your luck. Click the 'Roll Dice' button to see the new results and get started on your next move</h3>
    </div>
    <h1>Your Current Hand</h1>
    <div id="dice-container" class="dice-container">
        {% for die in hand.dice %}
        <img src="{{ url_for('static', filename='img/' + die.get_name() + '.jpg') }}" alt="{{ die.get_name() }}">
        {% endfor %}
    </div>

    <button id="roll-dice" class="btn btn-custom-black">Roll Dice</button>
</div>

{% include 'footer.html' %}

<script
src="https://code.jquery.com/jquery-3.7.1.min.js"
integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
crossorigin="anonymous">
</script>

<script>
    $(document).ready(function() {
        $('#roll-dice').click(function() {
            $.get('{{ url_for("index", roll=True) }}', function(data) {
                $('#dice-container').html($(data).find('#dice-container').html());
            });
        });
    });
</script>
